@font-face {
    
    font-family: 'Montserrat';
    src: local('Montserrat'),
          url('../fonts/Montserrat/Montserrat-Black.ttf')
          format('truetype');
}

body {
    background-color: #eeeeee;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;    
}

div {
    text-align: center;
    box-shadow: 5px 10px 5px #aaaaaa;
    background-color: #ffffff;
    margin: 60px;
    padding: 20px;
}